li {
    opacity: 1 !important;
}

/* change to make hamburger bar clickable*/
.sidenav-overlay{
    z-index: 800 !important;
}

.homepage-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.btnRecipe {
    margin: 2% 0 0 15%;
 
}
.btnItem {
    margin: 2% 5% 0 7%;
}


