#blankSearch {
  display: none;
}

#ingredients {
  display: none;
}

#invalidFood {
  display: none;
}

#uncheckedBox {
  visibility: hidden;
}

#caffeineLI {
  visibility: hidden;
}

#nextIngredientsBtn {
  display: none;
}

#prevIngredientsBtn {
  display: none;
}

#backBtn {
  display: none;
}

#nutritionFacts {
  display: none;
}

#foodOptions {
  display: none;
}