li {
    opacity: 1 !important;
}

/* change to make hamburger bar clickable*/

.sidenav-overlay {
    z-index: 800 !important;
}

.homepage-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.btnRecipe {
    margin: 2% 0 0 15%;
}

.btnItem {
    margin: 2% 5% 0 7%;
}

/* .rowContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: 5% 10% 0 10%;
    background-color: lightblue;
} */

.collum1, .collum2, .collum3, .collum4, 
.collum5, .collum6, .collum7, .collum8, 
.collum9, .collum10 { 
    border: 2px solid teal;
    width: 100%;
    height: 50px;
} */

.carousel {
    height: 200px;
}

.introduction {
    width: 80%;
    border: 1px solid teal;
    margin: 0 10% 0 10%;
}

/* .align-center {
    font-family: 'Averia Libre';
    text-align: center;
    border: 1px solid steelblue;
    background-color: lightsteelblue;
    color: black;
} */

#foodOptions {
    font-family: 'Kurale', serif;
    border: 1px solid black;
    background-color: lightsteelblue;
    line-height: 25px;
    font-size: 12pt;
}

#ingredients li {
    margin-left: 25px;
}

.ingredientOption:hover {
    color: brown;

}

.ingredientOption:active {
    color: blue;
}

#item2 {
    border: 1px solid teal;
    font-family: 'Averia Libre', cursive;
    background-color:wheat;
   /* margin: 20px 20px 0px 25px;*/
   margin:20px;
    height: 110px;
    padding: 10px;
}

#nutritionInfoTable {
    font-family: 'Averia Libre';
    border: 1px solid black;
    background-color: lightsteelblue;
    padding: 10px 0 0 10px;
}

#nutritionInfoTable h5 {
    font-family: 'Kurale', serif;
    border: 1px solid black;
    background-color: lightskyblue;
    font-size: 12pt;
    margin: -9px 0 0 -10px;
    height: 50px;
    text-align: center;
    padding-top: 9px;
    font-size: 13pt;
    font-weight: bold;
}

ul li {
    padding: 15px 0 0 15px;
}

#backgroundImg1 {
    background-image: url('../Css/image/itempage1.jpg');
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#searchItem {
    background-color: #c7bbbb;
}

#searchBtn {
    background-color: teal;
    width: 80px;
    height: 30px;
    border: 1px solid black;
    color: white;
}

body {
    background-color: #42413d;
}

span {
    color: white;
}

span:hover {
    color: #26daa4;
}

#blankSearch, #uncheckedBox {
    color: #ff0000;
}