li {
    opacity: 1 !important;
}
 .sidenav-overlay{
    z-index: 800 !important;
}
body {   
    background-image: url('./image/body1.jpg')
}
ul li {
    padding: 15px 0 0 15px;
}
.homepage-link {
    margin: 0 5% 0 5%;
}
#YourFoot {
    background-color:#3a9494;
    width: 100%;
    height: 80px;
    margin: 10% 0 0 0;
}
#btnItem {
    float: left;
}
#btnRecipe {
    float: right;
}
.carousel {
    height: 200px;
}
#login {
    margin: 0 15% 0 15%;
}
#introduction {
    font-family: 'Sansita', sans-serif;
    background-color: #c7bbbb;
    border: 1px solid teal;
    line-height: 25px;
    margin: 0 5% 0 5%;
    font-size: 15pt;
    padding:1%;
    width: 90%;    
}
#foodOptions h5{
    font-family: 'Kurale', serif;
    border: 2px solid teal;
    background-color: lightsteelblue;
    line-height: 25px;
    font-size: 12pt;
    padding:5px;
    text-align: center; 
    font-weight: bold;
}
#ingredients {
    border: 2px solid teal;
    margin-top: -9%; 
}
#ingredients li {
    padding-left: 18px;
    line-height: 20px;
    background-color: white;
}
#item2 {
    border: 2.5px solid teal;
    font-family: 'Averia Libre', cursive;
    background-color:wheat;
    padding: 5px;
    width: 80%;
    margin:15% 0 0 10%;
}
#nutritionInfoTable {
    font-family: 'Averia Libre';
    border: 1px solid black;
    background-color: lightsteelblue;
    padding: 10px 0 0 10px;
}
#nutritionInfoTable h5 {
    font-family: 'Kurale', serif;
    border: 1px solid black;
    background-color: lightskyblue;
    font-size: 12pt;
    margin: -10px 0 0 -10px;
    text-align: center;
    padding-top: 9px;
    font-size: 13pt;
    font-weight: bold;
}
#backgroundImg1 {
    background-image: url('../Css/image/item1.jpg');
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto center;
}
#searchItem {
    background-color:#c7bbbb;
    padding-left: 3%;
}
#searchBtn {
    border: none;
    padding:0;
}
span {
    color: #131212;
}
#blankSearch, #uncheckedBox {
    color: #ff0000;
}
/* Recipe Page */
.recipeBIMG {
    background-image:url('./image/recipe5.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto center;
}
#recipeLink {
    margin: 5% 15% 0 15%;
    background-color: lightgray;
    padding: 5% 
}
.foodRecipe1 {
    margin: 10% 15% 0 15%;
    border: 2px solid teal;
    background: #e2dbbd;
    padding:0% 2% 1% 3%;
}
#search{
    margin-left: 30%;
}
.homepage{
    margin-left: 25%
}
