li {
    opacity: 1 !important;
}

/* change to make hamburger bar clickable*/
.sidenav-overlay{
    z-index: 800 !important;
}


.homepage-link {
    width: 310px;
    margin-left: 15%
}

#btnItem {
    float: left;
}

#btnRecipe {
    float: right;
}

.rowContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 70%;
    margin: 5% 15% 0 15%;
    background-color: lightblue;
}

.collum1, .collum2, .collum3, .collum4, 
.collum5, .collum6, .collum7, .collum8, 
.collum9, .collum10 { 
    border: 2px solid teal;
    width: 100%;

    height: 80px;
}

.carousel {
    height: 200px;
}

#introduction {
    width: 70%;
    border: 1px solid teal;
    margin: 0 15% 0 15%;
    font-family: 'Sansita', sans-serif;
    padding:1%;
    font-size: 15pt;
    background-color: #c7bbbb;
    line-height: 25px;

}


.recipeBIMG {
    background-image:url('./image/recipe5.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto center;
 }

 #recipeLink {
    margin: 5% 15% 0 15%;
    background-color: lightgray;
    padding: 5%
 
 }
 .foodRecipe1 {
    margin: 5% 15% 0 15%;
    border: 2px solid teal;
    background: #e2dbbd;
    padding:0% 2% 1% 3%;
 }


#foodOptions {
    font-family: 'Kurale', serif;
    border: 1px solid black;
    background-color: lightsteelblue;
    line-height: 25px;
    font-size: 12pt;
}

#ingredients li {
    margin-left: 2.5%;
    background-color: aliceblue;
}

.ingredientOption:hover {
    color: brown;

}

.ingredientOption:active {
    color: blue;
}

#item2 {
    border: 1px solid teal;
    font-family: 'Averia Libre', cursive;
    background-color:wheat;
   align-items: center;
    height: 110px;
    padding: 10px;
}

#nutritionInfoTable {
    font-family: 'Averia Libre';
    border: 1px solid black;
    background-color: lightsteelblue; 
    padding: 10px 0 0 10px;
}

#nutritionInfoTable h5 {
    font-family: 'Kurale', serif;
    border: 1px solid black;
    background-color:lightskyblue;
    font-size: 12pt;
    margin:-9px 0 0 -10px;
    height: 50px;
    text-align: center;
    padding-top: 9px;
    font-size: 13pt; 
    font-weight: bold;
}

ul li {
    padding: 15px 0 0 15px;
}

#backgroundImg1 {

    background-image: url('../Css/image/item1.jpg');
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto center;
}

.itemDivWrapper {
    margin: 0% 12% 0 12%;
    border: 1px solid teal;
    background-color:lightgray;
}

.itemDivWrapper h6 {
    font-size: 15pt;
    font-family: 'Averia Libre', cursive;
    padding: 2% 2% 0% 2%;
    font-weight: bold;
    line-height: 23px;

}

#searchItem {
    background-color:#c7bbbb;

    padding-left: 3%;
}

#searchBtn {
    border: none;
    padding:0;
}

body {
    
    background-image: url('./image/body1.jpg')
}

span {
    color: #131212;
}
span:hover {
    color:#26daa4;
}
#blankSearch, #uncheckedBox {

    color: #ff0000;
}
#search{
    margin-left: 30%
}
